{% extends "base.html" %}

{% block title %}Facebook Lectio{% endblock %}

{% block body %}

{% if user %}
<form method="post" class="well" >
    <h2>Indstillinger for {{user.name}}</h2>
    <label for="lectio_id">Lectio ID</label>
    <input id="lectio_id" name="lectio_id" type="text" value="{{user.lectio_id}}" style="width:260px" />
    <span class="help-inline">Dit elev id fra lectio. http://www.lectio.dk/lectio/256/SkemaNy.aspx?type=elev&elevid={dette er dit elevid}</span>
    <div>
        <button type="submit" class="btn btn-primary">Gem</button>    
    </div>
</form>

<form method="post" class="well" action="activities.php">
    <h2>Vis Lektier</h2>
    <button type="submit" class="btn btn-primary">Vis</button>
</form>

<form method="post" class="well" action="post.php">
    <h2>Post dagens lektier på facebook</h2>
    <button type="submit" class="btn btn-primary">Post</button>
</form>

{% else%}
<a class="fbSignInButton" href="{{login_url}}">Login med Facebook</a>
{% endif%}

{% endblock %}

