{% extends "base.html" %}

{% block title %}Facebook Lectio{% endblock %}

{% block body %}

{% if user %}
<form method="post" class="well" >
    <h2>Indstillinger for {{user.name}}</h2>
    <label for="lectio_id">Lectio ID</label>
    <input id="lectio_id" name="lectio_id" type="text" value="{{user.lectio_id}}" style="width:260px" />
    <span class="help-inline">Dit elev id fra lectio. http://www.lectio.dk/lectio/256/SkemaNy.aspx?type=elev&elevid={dette er dit elevid}</span>
    <div>
        <button type="submit" class="btn btn-primary">Gem</button>    
    </div>
</form>

<form method="get" class="well" action="activities.php">
    <h2>Vis Lektier</h2>
    <button type="submit" class="btn btn-primary">Vis</button>
</form>

<div class="well">
    <h2>Opdaterings URL</h2>    
    <textarea id="update_url" style="width:100%;height:60px;opacity:0;display:none">{{update_url}}</textarea>
    <button id="show_update_url" class="btn btn-primary">Vis</button>
</div>
<script>
    dojo.query('#show_update_url').onclick(function(){
        var node = dojo.byId('update_url');
        node.style.display = 'block';
        dojo.fadeIn({node:node}).play(); 
    });
</script>
{% else%}
<a class="fbSignInButton" href="{{login_url}}">Login med Facebook</a>
{% endif%}

{% endblock %}

