{% extends "base.html" %}

{% block body %}
<h1>{% block title%}{%endblock%}</h1>
<form method="post" id="" action="">
  
  <label>Title</label>
  <input type="textbox" id="title" name="title" value="{{post.title}}"/>
  	
  <label>Publiseret</label>
  <input id="is_published" name="is_published" type="checkbox" {% if post.is_published %}checked="checked"{% endif%} />
  
  <label>Tekst</label>
  
  <div>
      <div id="body-field"></div>
  </div>
  
  <textarea id="body" name="body" cols="70" rows="5">{{post.body}}</textarea>

  <p><input type="submit" value="Gem" /></p>

</form>
{% endblock %}

{% block script %}
  <script>
    dojo.require("dijit.Editor");
    dojo.require("dijit._editor.plugins.LinkDialog");
    dojo.require("dijit._editor.plugins.ViewSource");
    dojo.require("dijit._editor.plugins.AlwaysShowToolbar")

    dojo.ready(function () {

      var editor_args = {
        height:'100px', 
        extraPlugins:[
        'createLink', 
        'insertImage', 
        {name: 'viewsource', stripScripts: false, stripComments:false}, 
        'dijit._editor.plugins.AlwaysShowToolbar']};

      dojo.query('#body').style({display:'none'});
      body_editor = new dijit.Editor(editor_args, 'body-field');
      
      body_editor.set('value', dojo.byId('body').value);

      dojo.query('form').onsubmit(function () {
         dojo.byId('body').value = body_editor.get('value');
      });
   });
  </script>
{% endblock %}

