{% extends "base.html" %}

{% block body %}
<h1>{% block title%}{%endblock%}</h1>
<form method="post" id="" action="">
  <label>Title</label>
  <input type="textbox" id="title" name="title" value="{{form.title.data}}"/>
  {{ form.title.errors_as_html | raw}}
  	
  <label>Publiseret {{form.is_published.data}} </label>
  <input id="is_published" name="is_published" type="checkbox" {% if form.is_published.data %}checked="checked"{% endif%} />
  
  <label>Tekst</label>
  <textarea name="body" cols="70" rows="5">{{form.body.data}}</textarea>
  {{ form.body.errors_as_html | raw }}
  
  <input type="submit" value="Gem" />

</form>
{% endblock %}
