{% extends "base.html" %}

{% block title %}Seneste Indlæg{% endblock %}

{% block body %}
<h1 style="text-align:right">Seneste Blog Indlæg</h1>
<article>
{% for post in posts %}
    <section>
        <h3>
            <a href="{{ post.url }}">{{ post.title }}</a>
        </h3>
        {% if user%}
            <a href="{{ post.edit_url}}">[rediger]</a>
        {% endif %}
        <div class="blog-meta">
        {% if not post.is_published %}
          <span style="color:red">Ikke publiseret!</span>
        {% endif %}
          <span>{{post.user.name}} d. {{ post.publish|date("d-m-Y") }}</span>          
        </div>
        <div>{{post.excerpt|raw}}</div>
    </section>
{% else %}
<em>Ingen posts endnu!</em> 
{% endfor %}      
</article>
{% endblock %}

