{% extends "base.html" %}

{% block title %}Oprettelse{% endblock %}

{% block body %}
<h1>Oprettelse</h1>
<form method="post" action="">
      
  <label>Brugernavn</label>
  <input type="textbox" name="username" />
  
  <label>Gentag brugernavn</label>
  <input type="textbox" name="username2" />
  
  <label>Kodeord</label>
  <input name="password" type="password" />
  
  <label>Bekræft kodeord</label>
  <input name="password2" type="password" />
  
  <input type="submit" value="Opret" />

</form>
{% endblock %}
